*{
    margin: 0;
    padding: 0;;
}
.navigation {
position: absolute;
top: 4.6%;
width: 100%;
z-index: 2;
}
.navigation-inner {
display: flex;
align-items: center;
justify-content: space-between;
}
.main-navigation {
    color: #fff;
    /*display: none;*/
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0px;
    left:0%;
    background: black;
    opacity: 0.9;
    }
.main-navigation-ul .main-navigation-ul{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 3%;
    border: 2px solid #fff;
    border-radius: 7px;
    background-color: red;
    }
.main-navigation-ul .main-navigation-ul li{
    margin-bottom: 20px;
    list-style: none; 
}
.main-navigation-ul .main-navigation-ul a{
    color: #fff;
    font-size: 20px;
    font-weight: 20px;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.3s ease;
}
.main-navigation-ul .main-navigation-ul a:hover{
color: #777;
}    
.burguer-container {}
.bar1, .bar2, .bar3 {}